<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>
</head>
<body>
  <h1>TinyApp</h1>
  <p><%= errorMessage %></p>
  <p>Please <a href="/login">login</a> or <a href="/register">register</a> to access the URLs.</p>
</body>
</html>

